<%- include('layout/head.ejs') %>
    <link rel="stylesheet" href="/css/about.css">
    <title>About Potchitos</title>
</head>

<body>
<div id="header-placeholder"></div>
<section id="about-us">
    <div id="text-container">
        <h1>How Potchito's Was Born</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem reprehenderit expedita corrupti consectetur pariatur eius provident labore architecto. Aliquid inventore dolores possimus veniam magni blanditiis facilis sed id voluptates deserunt.
        A, dolores! Libero aliquid reiciendis fugit minus quis atque aliquam necessitatibus veniam ut commodi sed, laudantium provident similique modi voluptate iure nisi rerum quasi, blanditiis dolorem sit, non magnam dignissimos!
        Ex impedit iure recusandae adipisci, odio animi esse non sequi, ratione fuga molestias nobis quis. Rem eum ratione officiis deleniti quos quis voluptas, eaque totam sunt reiciendis, earum molestias tempora?</p>

    </div>
    <div id="image-container">
        <img src="/assets/images/potchitos-sample.jpeg" alt="">
    </div>

</section>
<div id="footer-placeholder"></div>
</body>
<script src="JS/header_loader.js"></script>
<script src="JS/footer_loader.js"></script>
</html>