<%- include('layout/head.ejs') %>
    <title>Caterings</title>
</head>

<body>
<div id="header-placeholder"></div>
<section id="introduction">
  
</section>
<div id="footer-placeholder"></div>
</body>
<script src="JS/header_loader.js"></script>
<script src="JS/footer_loader.js"></script>
</html>