<%- include('layout/head.ejs') %>
    <title>Document</title>
</head>
<body>

    <%- include('layout/navbar.ejs') %>

    <% if(username == ''){ %>
        <h1>Please Log In</h1>
    <% } else { %>
        <h1>Welcome, <%= username %></h1>
    <% } %>

</body>
</html>