<%- include('layout/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('layout/navbar.ejs') %>
    <form action="/log" method="POST">
        <input type="text" id="inptEmail" name="inptEmail" placeholder="email">
        <input type="text" id="inptPass" name="inptPass" placeholder="password">
        <button type="submit">Log In</button>
    </form>
    <!-- display flash message if exists -->
    <% if (info) { %>
        <p class="alert alert-danger"><%= info %></p>
    <% } %>
</body>
</html>