<%- include('layout/head.ejs') %>
    <link rel="stylesheet" href="/css/products.css">
    <title>Products</title>
</head>
<body>
    <%- include('layout/header.ejs') %>
    <section id="products" class="products-container">
        <div class="sidebar">
            <div class="side-bar-title">
                <h2>Categories</h2>
            </div>
            <div class="side-bar-content">
                <ul class="category-list">
                    <li><a href="#">All</a></li>
                    <li><a href="#">Buns</a></li>
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Custom Cakes</a></li>
                </ul>
            </div>
        </div>

        <div class="main-content">
            <!-- Buns Section -->
            <div class="product-category">
                <h2>Buns</h2>
                <div class="product-container">
                    <div class="product-card">
                        <a href="#" class="product-link">
                            <img src="/assets/images/Cookies.png" alt="Fruit 1">
                            <div class="product-info">
                                <h3>Special Buns</h3>
                                <p>Price: $2</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-card">
                        <a href="#" class="product-link">
                            <img src="/assets/images/buns.jpg" alt="Fruit 2">
                            <div class="product-info">
                                <h3>Peanut Buns</h3>
                                <p>Price: $1</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-card">
                        <a href="#" class="product-link">
                            <img src="/assets/images/fruit3.jpg" alt="Fruit 3">
                            <div class="product-info">
                                <h3>Hotdog Buns</h3>
                                <p>Price: $3</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Cookies Section -->
            <div class="product-category">
                <h2>Cookies</h2>
                <div class="product-container">
                    <div class="product-card">
                        <a href="#" class="product-link">
                            <img src="/assets/cookie1.jpg" alt="Cookie 1">
                            <div class="product-info">
                                <h3>Chocolate Chip</h3>
                                <p>Price: $5</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-card">
                        <a href="#" class="product-link">
                            <img src="/assets/cookie2.jpg" alt="Cookie 2">
                            <div class="product-info">
                                <h3>Oatmeal Raisin</h3>
                                <p>Price: $4</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-card">
                        <a href="#" class="product-link">
                            <img src="/assets/images/cookie3.jpg" alt="Cookie 3">
                            <div class="product-info">
                                <h3>Peanut Butter</h3>
                                <p>Price: $6</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Custom Cakes Section -->
            <div class="product-category">
                <h2>Custom Cakes</h2>
                <div class="product-container">
                    <div class="product-card">
                        <a href="#" class="product-link">
                            <img src="/assets/images/hotdog1.jpg" alt="Hotdog 1">
                            <div class="product-info">
                                <h3>Letter Cakes</h3>
                                <p>Price: $3</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-card">
                        <a href="#" class="product-link">
                            <img src="/assets/images/hotdog2.jpg" alt="Hotdog 2">
                            <div class="product-info">
                                <h3>Themed Cakes</h3>
                                <p>Price: $4</p>
                            </div>
                        </a>
                    </div>
                    <div class="product-card">
                        <a href="#" class="product-link">
                            <img src="/assets/images/hotdog3.jpg" alt="Hotdog 3">
                            <div class="product-info">
                                <h3>Something Cakes</h3>
                                <p>Price: $5</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('layout/footer.ejs') %>
</body>
</html>
