<%- include('layout/head.ejs') %>
    <link rel="stylesheet" href="/css/product_details.css">
    <title>product</title> <!-- Use string literal here-->
</head>

<body>
<div id="header-placeholder"></div>
<section id="product-background">
    <div class="food-container">
        <div class="image-container-product">
            <img src="/assets/images/cake-with-transparent-background-high-quality-ultra-hd-free-photo.jpg" alt="food1" class="food-image">
        </div>
        <div class="text-container">
            <h1>
                Beautiful Mousse Cake
            </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A eos unde aperiam maxime quaerat fugit molestiae explicabo eaque. Tempora rerum perspiciatis, temporibus dolore soluta quasi doloremque inventore voluptas dolores tempore.
            Odio, cum a nulla fugiat consectetur, voluptas dolor aspernatur explicabo provident exercitationem consequatur dignissimos eos aut aliquam autem soluta. Debitis at soluta tenetur laborum aperiam est quasi veritatis, iure ullam.</p>
            <p>Allergens: Gluten Something, Whatever</p>
            <button>Add to Cart</button>
        </div>
    </div>
</section>
<div id="footer-placeholder"></div>
</body>
<script src="JS/header_loader.js"></script>
<script src="JS/footer_loader.js"></script>
</html>